<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title SUMA 10 NUMEROS CICLO WHILE
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	input#dato(placeholder='Ingresa número')
	br
	button(type='button' onclick="suma()") CLik
	p#demo

	script(type="text/javascript" src="main.js")
